<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
             http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Display name of your application -->
    <display-name>Forum Application</display-name>

    <!-- Welcome file (if you want to set a default page) -->
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <!-- Servlet definition -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>

    <!-- Servlet mapping -->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- Another example of a servlet -->
   <servlet>
    <servlet-name>ForumServlet</servlet-name>
    <servlet-class>ForumServlet</servlet-class>
</servlet>

  <servlet-mapping>
    <servlet-name>ForumServlet</servlet-name>
    <url-pattern>/ForumServlet</url-pattern>
</servlet-mapping>


    <!-- Context parameters (optional, for global settings) -->
    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/topic_forum</param-value>
    </context-param>

    <!-- Session configuration (optional) -->
    <session-config>
        <session-timeout>30</session-timeout> <!-- Time in minutes -->
    </session-config>

    <!-- Error page (optional) -->
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>

</web-app>
